Download

* Maven artifact

  In order to use tap4j with JUnit or TestNG you have to include tap4j-ext 
  dependency in your project pom.xml. It will automatically add tap4j too, but 
  you will have to include either JUnit or TestNG.

+---+
<dependency>
  <groupid>org.tap4j</groupid>
  <artifactid>tap4j-ext</artifactid>
  <version>${project.version}</version>
</dependency>
